@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'mainfont';
    src: url('./assets/fonts/MabryPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mostfont';
    src: url('./assets/fonts/MabryPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}